# Node
node_modules/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build artifacts
.dist/
dist/
build/

# Vite
.vite/

# Playwright
.playwright/
playwright-report/
test-results/

# Logs and coverage
logs/
*.log
coverage/
.nyc_output/

# Environment
.env
.env.*.local

# Editors
.vscode/
.idea/
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Misc temporary
*.tmp
*.temp
.tmp/

# Lockfiles (if you prefer to ignore lockfiles, uncomment)
# package-lock.json
# yarn.lock

# Android / Bubblewrap
android/.gradle/
android/gradle
android/build/
android/app/build/
android/app/.cxx/
android/app/release/
android/app/src/main/assets/
android/local.properties
android/*.apk
android/*.aab
android/*.idsig
android/*-aligned.apk
android/twa-manifest.json
android/manifest-checksum.txt
android/*.keystore
android/*.jks
android/captures/
android/output.json
.well-known/


# vite
dev-dist